body{
    background-image: url(pexels-piccinng-3052361.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
}

#relogio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
}

#relogio{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(176, 175, 231);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.018);
    inline-size: 100%;
}